* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    text-align: center;
    background: whitesmoke;
}
.container {
    display: block;
    text-align: center;   
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 10px;
    background-position: center;
    background-color: beige;
    padding: 40px;
}
h1{
    margin-bottom: 1rem;
}
#image {
    text-align: right;
    border-radius: 10px;
    height: 250px;
    width: 80%;
    object-fit: cover;
}
#description{
    text-align: left;
    margin-left: 7rem;
}
.contentOfRevenue {
    text-align: left;
    margin-left: 7rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
h2 {
    margin-top: 2rem;
}